.navbar {
    background-color: grey;
}

.seamless {
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.posterImage {
    max-width: 10%;
}

.gameReviews {
    display: grid;
}

.platforms {
    display:flex
}