<%- include('../partials/header') %>

<script src="./js/script.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

<body>
    <div class="nameHeading">Darrel Malkin</div>
    <div class="usernameHeading">CatRass</div>

    <form onsubmit="gameSearch(); return false">
        <input type="text" name="gameToSearch" id='gameToSearch' placeholder="Search Game..."/>
        <input type="submit"/>
    </form>

    <button onclick="addToDB()">Test</button>

    <div id="gameReviews">
        <%_// ======================================================   %>
        <%_// Structure for Game Div                                   %>
        <%_// ======================================================   %>
        <%_//       <div class="game">                                 %>
        <%_//           <p class="name">                               %>
        <%_//               GameName                                   %>
        <%_//           </p>                                           %>
        <%_//           <p class="releaseDate">                        %>
        <%_//               Jan 01 2000                                %>
        <%_//           </p>                                           %>
        <%_//           <div class="platforms platform0">              %>
        <%_//               <p class="platformName">                   %>
        <%_//                   Switch, Switch2, Sega Saturn           %>
        <%_//               </p>                                       %>
        <%_//           </div>                                         %>
        <%_//           <img src="" class="seamless posterImage">      %>
        <%_//       </div>                                             %>
        <%_// ======================================================   %>
    </div>   

    

</body>