<%- include('../partials/header') %>
<!-- <%- include('../partials/navbar') %> -->
<script src="./js/script.js" type="text/javascript"></script>
<body>
    <div class="nameHeading">Darrel Malkin</div>
    <div class="usernameHeading">CatRass</div>

    <div id="gameReviews">
        
    </div>

</body>